*{
    padding: 0;
    margin: 0;
    
}

header{
    background-image: linear-gradient( to right, rgb(204, 96, 163), rgb(246, 164, 215), rgb(246, 164, 215), rgb(204, 96, 163) );
    height: 200px;
    width: 100%;
    
}

body{
    background-image: linear-gradient( to right, rgb(204, 96, 163), rgb(246, 164, 215), rgb(246, 164, 215), rgb(204, 96, 163) );
    margin: auto;
    width: 100%;
}

main{
    margin-top: 30px;
    margin-bottom: 30px;
}

.logo{
    width: 170px;
    border-radius: 100px;
    margin-top: 10px;
    box-shadow: -10px 10px 10px;
    margin-left: 700px;

}

hr{
    margin-top: 9px;
    border-color: rgb(141, 17, 17);
    width: 100%;
}

.botoes-da-direita{
    padding-top: 1px;
    padding-bottom: 6px;
    display: flex;
    justify-content: right;
    
}

.lista-botoes-direita{
    margin-right: 30px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    padding: 15px 20px;
    font-size: 14px;
    font-weight: bolder;
    list-style-type: none;
    background-color: rgb(197, 61, 120);
    width: 130px;
    text-align: center;
    
}

#i-botoes-direita-e-lupa{
    color: white;
    padding: 15px;
}

.icones-botoes-direita{
    background-color: rgb(57, 10, 30);
    width: 45px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.lista-botoes-direita:hover{
    background-color: rgb(57, 10, 30);
    transition: 0.2s;
    opacity: 1.5;
    cursor: pointer;
    border-left: 1px white solid;
}


a:link {
    color: rgb(255, 255, 255);
    text-decoration: none;
  }
  
a:visited {
    color: rgb(255, 255, 255);
    text-decoration: none;
  }
  
a:hover {
    text-decoration: none;

  }
  
a:active {
    text-decoration: none;
  }

#nav-btn-direita{
    width: 900px;
    position: absolute;
    right: 0;
    top: 50px;
}

.barra-de-pesquisa{
    left: 130px;  
}

.txtbusca{
    font-size: 13px;
    width:250px;
    padding: 15px 20px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    margin-top: 20px;
    border: none;
    
}

.btnbuscar{
    font-size: 12px;
    width:50px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    padding: 2px;
    text-align: center;
    border: none;
    background-color: rgb(197, 61, 120);
    color: white;
    font-weight: bolder;
}

.btnbuscar:hover{
    transition: 0s;
    opacity: 1;
    cursor: pointer;
    background-color: rgb(57, 10, 30);
}

.menu-de-bebidas{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.lista-menu-bebidas{
    margin-left: 30px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    padding: 15px 30px;
    font-size: 18px;
    font-weight: bolder;
    list-style-type: none;
    background-color: rgb(57, 10, 30);
    color: white;
    width: 100px;
    text-align: center;
}

.lista-menu-bebidas:hover{
    background-color: rgb(197, 61, 120);
    transition: 0.2s;
    opacity: 1.5;
    cursor: pointer;
}

.icones-lista-menu-bebidas{
    background-color: rgb(57, 10, 30);
    color: white;
    padding: 16px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border-left: 1px white solid;
}
.icones-lista-menu-bebidas:hover{
    background-color: rgb(197, 61, 120);
    transition: 0.2s;
    opacity: 1.5;
    cursor: pointer;
}

.cartoes{
    max-width: 300px;
    margin-left:90px;
    text-align: center;
    font-family: arial;
    display: flex;
    margin-bottom: 50px;
    
}

body main img:hover{
    opacity: .7;
}

.cartoes div{
    margin-left: 40px;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 1);
    
}

.preco{
    color: rgb(153, 11, 101);
    font-size: 22px;
  }
  
.btncartao {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    border-radius: 0;
  }
  
.btncartao:hover {
    background-color: rgb(231, 231, 231);
    color: rgb(0, 0, 0);
  }
  
h1{
    text-align: center;
    margin: 20px auto 0 auto;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 5px;
    
}

.mapa{
    margin: 30px 490px;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 1);
}

footer{
    background-color: rgb(244, 200, 231);
    display: flex;
    border-top: 5px rgba(244, 200, 231, 0.9) solid;
    font-family: sans-serif;
    width: 100%;
}



footer div{
    margin: 40px auto;
    text-align: center;
}

footer h4{
    margin-bottom: 15px;
}

footer li{
    list-style-type: none;
    margin-bottom: 5px;
    
}

 .itens-lista-do-rodape:hover{
    border-radius: 2px;
    color: white;
    background-color: rgb(221, 49, 192);
    cursor: pointer;
    transition: 0;
}

.item-atendimento:hover{
    background-color: rgb(244, 200, 231);
    transition: 0;
}

.icones-rodape:hover{
    background-color: rgb(244, 200, 231);
    transition: 0;
}

footer img{
    width: 130px;
    height: 30px;
}

footer img:hover{
    cursor: pointer;
    opacity: .8;
}



@media screen and (max-width: 500px) {
    
}

